@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Inter&display=swap');


*{
    font-family: "figtree";
    box-sizing: border-box;
    color: white;
}
button{
  background: none;
  border: none;
}
.gradient-background {
  background-image: url(./images/Mask\ group.svg);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  /* height: 100vh; */
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 123px;
  letter-spacing: 0.01em;
  text-align: left;
  /* padding-top: 5rem; */
}


.logo {
    padding-top: 5%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images {
  margin-top: 5rem;
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

p {
    margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0em;
  text-align: left;
}
.class {
  position: relative;
  margin: auto;
}

input{
    height: 3.6rem;
    border-right: none;
   
}

.form-control::placeholder{
    color: black;
}

a{
    text-decoration: none;
}
.input-group-text {
    background-color: 
    #7ECCD7;
    border: 0;
    border-radius: 25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text:hover {
    background-color: #4f9da7;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
span{
    background-color: none;
    border:  #7ECCD7;
    border-radius: 1px solid  #7ECCD7 ;
    text-decoration: none;
}




span:hover{
    background-color:  #4f9da7;
    border:  #4f9da7;
    border-radius: 1px solid  #4f9da7 ;
    text-decoration: none;
}
.form-control{
    width: 18rem;
    border-radius: 25rem;
    border-left: none;
    border-top-right-radius: 0;
}

.form-control{
    background-color: white;
}
.input-group{
    width: 28rem;
}
.coming {
  position: absolute;
  width: 280%;
  margin-top: 20%;
  z-index: -1;
}


.good{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
text-align: center;
font-weight: 400;
line-height: 1.2rem;
letter-spacing: 0em;
text-align: center;
color: #CBD5E1;

}


@media screen and (max-width: 780px) {
    .gradient-background {
        background-image: url(./images/Mask\ group.svg);
        background-size: cover;
        background-repeat: repeat;
        animation: gradient-animation 18s ease infinite;
        height: 100svh;
      }

      .logo {
        padding-top: 5%;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
      height: 42px;
    }

  
    h1 {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: 0.01em;
        text-align: left;
        /* padding-top: 4rem; */
      }


      .input-group{
        width: 19rem;
    }

    .pen{
        width: 10rem;
    }

    p {
        margin-top: 2rem;
        margin-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.7rem;
      letter-spacing: 0em;
      text-align: left;
    }
input{
    height: 2.8rem;
    border-right: none;
}

.images {
    margin-top: 8.5rem;
    margin-bottom: 0.5rem;
    display: flex;
  }
.small{
    width: 20px;
}

  .medium {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .medium img {
    width: 5px;
    height: 5px;
  }
  
    footer p{
        margin: auto;
        font-size: 0.6rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2rem;
        letter-spacing: 0em;
        text-align: center;
        color: #667085;
        }


}
